<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="homepage.css">
    <title>Home Page</title>
</head>
<body>
<h1>Welcome to our home page of our website</h1>
<h4>Here we offer the facilities of transportation to our campus and the city by car. You have the option to book a seat of your
    liking, cancel your ride, search multiple routes to arrive to your destination faster and we even offer the ability to view
    your history of your previous bookings. We also provide you with a system that allow you to evaluate your experience and give
    us a very helping feedback in order to improve. Get ready to start your journey along side us and create a new account.
    <button id="register"><b>Create new account</b></button>
</h4>
</body>
</html>