<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Logout</title>
    <link rel="stylesheet" th:href="@{/css/logout.css}">
</head>

<body>

<main layout:fragment="main" class="container py-5">

    <section class="gr-box text-center">
        <h1 class="gr-title mb-3">Αποσύνδεση</h1>
        <p class="gr-subtitle mb-4">Έχετε αποσυνδεθεί με επιτυχία από το GreenRide.</p>

        <div class="gr-actions">
            <a class="gr-btn gr-btn-solid" th:href="@{/login}">Σύνδεση ξανά</a>
            <a class="gr-btn gr-btn-ghost" th:href="@{/}">Επιστροφή στην αρχική</a>
        </div>
    </section>

</main>

</body>
</html>
